* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  list-style-type: none;
}

.center {
  justify-self: center;
  align-self: center;
}

.text-center {
  text-align: center;
}
.width-100 {
  width: 100%;
}

.width-80 {
  width: 80%;
}

/* =============== COMPONENTES ================ */

/* ---------- Header ---------------- */

header {
  background-color: black;
  color: white;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 15px;
}

header nav {
  width: 50%;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  margin-right: 20px;
}

header nav ul li a {
  color: white;
}
@media (min-width: 1200px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header nav ul {
    display: flex;
    justify-content: space-around;
  }
}
/* --------------- Baner ------------------ */

.baner {
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000 url(../img/baner.jpg) center / cover no-repeat fixed;
}

/* ---------------- INDEX CONTENEDORES Y CARDS   ------------------ */

.contenedor-andares-index {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  padding: 15px;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 1200px) {
  .contenedor-andares-index {
    flex-direction: row;
  }
}
.card {
  min-width: 400px;
  height: 500px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card__img {
  margin-top: 10px;
  width: 100%;
}

/* ---- ANDARES ----*/
.video-andares {
  width: 100%;
  height: 500px;
}
@media (min-width: 1200px) {
  .inicio-andares {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 200px;
  }

  .container-andares {
    margin-top: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    overflow-x: scroll;
  }
}
.inicio-andares {
  margin-top: 10px;
  padding: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-andares {
  margin-top: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.andares-description {
  width: 100%;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}
/* ---- CONTACTO ----*/

label {
  display: flex;
}

@media (min-width: 1200px) {
  .contenedor-contacto {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 50px;
    margin: 20px;
  }
}
.contenedor-contacto {
  display: flex;
  flex-direction: column;
  margin: 20px;
  justify-content: center;
}

.contenedor-form-contacto {
  width: 100%;
  border: 2px solid;
  border-color: black;
  padding-left: 250px;
  padding-top: 25px;
}

.form-input {
  font-size: 1.2em;
  margin: 3.5px;
}

/*------ HISTORIA --------*/

.video-historia {
  width: 100%;
  height: 500px;
}

@media (min-width: 1200px) {
  .contenedor-articulos-historia {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 20px;
    margin-top: 10px;
    margin-bottom: 40px;
    margin-right: 20px;
  }
  .contenedor-imagenes-historia {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 20px;
    overflow: scroll;
  }
}
.contenedor-articulos-historia {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 40px;
  margin-right: 20px;
}
.articulos-historia {
  justify-self: center;
  align-self: center;
}
.contenedor-imagenes-historia {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 20px;
  overflow: scroll;
}

.card-img-historia {
  width: 100%;
  height: 300px;
}

/*------ Nosotros --------*/

.video-nosotros {
  width: 100%;
  height: 500px;
}
@media (min-width: 1200px) {
  .contenedor-articulos-nosotros {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 20px;
    margin-top: 10px;
    margin-bottom: 40px;
    margin-right: 20px;
    margin-left: 20px;
  }
  .contenedor-imagenes-nosotros {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 20px;
  }
}
.contenedor-articulos-nosotros {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 40px;
  margin-right: 20px;
  margin-left: 20px;
}
.contenedor-imagenes-nosotros {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 20px;
}
.articulos-nosotros {
  justify-self: center;
  align-self: center;
}
.card-img-nosotros {
  width: 100%;
  height: 300px;
}

/* ---- GALERIA ----*/

.view-galeria {
  width: 100%;

  padding-left: 100px;
  padding-right: 100px;
}
.view-img-galleria {
  width: 100%;
}
@media (min-width: 800px) {
  .contenedor-imagenes-galleria {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 20px;
    padding-left: 100px;
    padding-right: 100px;
  }
  .card-img-galleria {
    width: 50%;
    height: 300px;
  }
}

.card-img-galleria {
  width: 100%;
  height: 300px;
}

/* ---- TEXTOS ----*/

.page__title {
  text-align: center;
  margin: 1px;
  font-size: 2.5em;
}

/* ---- TEXTOS - INDEX - ANDARES ----*/

.andares-index__title {
  text-align: center;
  margin: 10px;
}

/* ------------ BOTONES -------------- */
.btn {
  border: green 2px solid;
  border-radius: 20px;
  background-color: green;
  color: white;
  font-size: 1.5em;
  padding: 6px;
}

.btn:hover {
  border: green 2px solid;
  background-color: white;
  color: green;
}

/* ------------ FOOTER -------------- */

footer {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  padding: 30px;
  justify-content: center;
  align-self: center;
}

@media (min-width: 1200px) {
  footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2fr;
    grid-column-gap: 600px;
  }
}
.container-redes-sociales {
  margin-top: 10px;
  padding-right: 350px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 0px;
}

.red-icon {
  height: 30px;
  width: 30px;
}

footer a {
  color: white;
}

.copyright {
  grid-column-start: 2;
  grid-row-start: 2;
  justify-self: center;
  align-self: center;
}
