/*-------------- COLORS ---------------*/

$color-dark:black;
$color-ligh:white;
$color-primary:green;
$trasnparent:transparent;

$redes: ( 
        instagram:   #55acee,
        facebook:  #617297,
        youtube: red
); 
