footer {
    background-color: $color-dark;
    color: $color-ligh;
    padding: 10px;
    justify-content: center;
    align-self: center;
  
    a {
      color: $color-ligh;
    }
  }
  
  .red-icon {
    height: 30px;
    width: 30px;
  }
  
  .copyright {
    margin-top: 15px;
    text-align: center;
  }
  