
.andares-index__title {
    text-align: center;
    margin: 10px;
  }
  
/* ---- ANDARES ----*/

.video-andares {
    @extend .video;
    height: 300px;
  }
  
  .container-andares {
    margin-top: 10px;
    justify-content: center;
    padding: 2px;
    margin: 2px;
  }

  .andares-caballo {
    justify-content: center;
    text-align: center;
  }

  @media (max-width: 570px) {
    .andares-caballo {
     justify-content: center;
     text-align: left;
    }
  }
  .inicio-andares {
    margin-top: 10px;
    padding: 40px;
  }
  
  /* ---- CONTACTO ----*/
  
  label {
    display: flex;
  }
  
  .form-input {
    font-size: 1.2em;
    width: 100%;
    border-radius: 5px;
  }
  
  /*------ HISTORIA --------*/
  
  .video-historia {
    @extend .video;
    height: 500px;
  }
  
  .card-img-historia {
    width: 100%;
    height: 300px;
    object-fit: scale-down;
  }
  
  /*------ Nosotros --------*/
  
  .video-nosotros {
    @extend .video;
    height: 500px;
  }
  .card-img-nosotros {
    width: 100%;
    height: 300px;
  }
  
  /* ---- GALERIA ----*/
  
  .view-galeria {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 500px;
  }
  .view-img-galleria {
    width: 200px;
    height: 200px;
  }
  .view-img-galleria-principal{
    width: 800px;
    height: 500px;
  }
  
  