.card {
    min-width: 400px;
   
    padding: 10px;
    contain: content;
    border: 0ch;
    &__img {
      margin-top: 10px;
      width: 100%;
    
    }
  }

  .card-img-galleria {
    width: 200px;
    height: 200px;
    object-fit: contain;
  }